#color, #size {
    width: 10%;
}
#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 5%;
    width: 600px;
    height: 600px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: purple;
}